*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;    
}

/*========= TYPOGRAPHY ========= */
h1{
    font-size: 2.25rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    padding: 0 1.75em;
}
b{
    color: #fff;
    font-weight: bold;
}
h2{
    font-size: 1.3125rem;
    color: #404040;  
    font-weight: 900; 
    padding-top: 1.5em;
    margin-bottom: 0;
}
.bottom-title, .under-title, .top-title{
    color: #f18119;
}
.top-title{
    font-size:0.625rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border-top: #f18119 8px solid;
    border-image: linear-gradient(to left, #ff713B, #ffa51d) 1;
    display: inline-block;
    padding-top: 8px;
    margin-top: 0;
}
.bottom-title{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}
.under-title{
    font-size: 1.1rem; 
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 1em 0;
}
.no-info{
    font-size: 0.625rem;
    letter-spacing: 1px;
}
.main-text{
    margin-top: 0;
    color: rgba(64, 64, 64, 0.6);
    line-height: 1.4em;
    padding: 0 1.3em;
}

/* ======= LAYOUT ======= */
body{
    /* background: #f18119; */
    margin: 0 auto;
}
.first-section{
    background-color: #404040;
    background-image: url(/Scrimba/CSS/10_BBQ/images/ribs.jpg);
    /* ======improving image========= */
    background-blend-mode: multiply; 
    background-position: center;
    background-size: cover;
    height: 45vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-section{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
/* taking all childs under class */
.first-section > *,                    
.second-section > * {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.contact-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
}
.first-name, .email, .registerbtn{
    margin-bottom: 1em;
    padding: 1em;
    text-align: inherit;
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid grey;
    width: 100%;
}
.first-name, .email{
    transition: transform 250ms;
    transform: scale(1);
}
.first-name:focus,
.email:focus{
    transform: scale(1.1);
}

.registerbtn{
    cursor: pointer;
    background-image: linear-gradient(#ff713B, #ffa51d );
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 250ms;
    transform: scale(1);
}
.registerbtn:hover,
.registerbtn:focus{
    transform: scale(1.1);
}
.no-info{
    color: rgba(64, 64, 64, 0.6);
    width: 40%;
    margin: 0 auto;
}

/* ======MEDIA QUERY======= */
@media (min-width:600px){
    body{
        font-size: 1.125rem;
        display: flex;
    }
    h1{
        font-size: 3.5rem;
        margin-bottom: 0;
    }
    h2{
        font-size: 1.75rem;
    }
    .first-section, .second-section{
        width: 50%;
        min-height: 100vh;
    }
    .second-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
